$preview: 0.4;
$color-bg: #006400;
$color-white: #FFFFFF;
$color-black: #000000;

:host #board {
  background-color: $color-bg;
  width: 100%;
  height: auto;
  max-width: 20cm;
  max-height: 20cm;
}

:host #moves {
  height: 100%;
  overflow: auto;
}

:host .token {
  fill: $color-bg;
  opacity: 0;

  &--black {
    fill: $color-black;
    opacity: 1;
  }

  &--white {
    fill: $color-white;
    opacity: 1;
  }

  &--preview--black {
    @extend .token;
    &:hover {
      fill: $color-black;
      opacity: $preview;
    }
  }

  &--preview--white {
    @extend .token;
    &:hover {
      fill: $color-white;
      opacity: $preview;
    }
  }
}

:host .highlight {
  stroke: #fcb603;
  stroke-width: 0.5;
}

:host .bline {
  stroke: black;
  stroke-width: 0.5;
}
