<app-game name="reversi" [handler]="eventHandler">
  <svg id="board" viewBox="0 0 100 100">
    <!-- vertical lines -->
    <line class="bline" x1="0.0" y1="000.0" x2="100.0" y2="000.0"></line>
    <line class="bline" x1="0.0" y1="012.5" x2="100.0" y2="012.5"></line>
    <line class="bline" x1="0.0" y1="025.0" x2="100.0" y2="025.0"></line>
    <line class="bline" x1="0.0" y1="037.5" x2="100.0" y2="037.5"></line>
    <line class="bline" x1="0.0" y1="050.0" x2="100.0" y2="050.0"></line>
    <line class="bline" x1="0.0" y1="062.5" x2="100.0" y2="062.5"></line>
    <line class="bline" x1="0.0" y1="075.0" x2="100.0" y2="075.0"></line>
    <line class="bline" x1="0.0" y1="087.5" x2="100.0" y2="087.5"></line>
    <line class="bline" x1="0.0" y1="100.0" x2="100.0" y2="100.0"></line>
    <!-- horizontal lines -->
    <line class="bline" y1="0.0" x1="000.0" y2="100.0" x2="000.0"></line>
    <line class="bline" y1="0.0" x1="012.5" y2="100.0" x2="012.5"></line>
    <line class="bline" y1="0.0" x1="025.0" y2="100.0" x2="025.0"></line>
    <line class="bline" y1="0.0" x1="037.5" y2="100.0" x2="037.5"></line>
    <line class="bline" y1="0.0" x1="050.0" y2="100.0" x2="050.0"></line>
    <line class="bline" y1="0.0" x1="062.5" y2="100.0" x2="062.5"></line>
    <line class="bline" y1="0.0" x1="075.0" y2="100.0" x2="075.0"></line>
    <line class="bline" y1="0.0" x1="087.5" y2="100.0" x2="087.5"></line>
    <line class="bline" y1="0.0" x1="100.0" y2="100.0" x2="100.0"></line>

    <!-- tokens -->
    <circle *ngFor="let token of tokens" [attr.class]="token.state" [attr.r]="token.radius" [attr.cx]="token.x" [attr.cy]="token.y"></circle>
  </svg>
</app-game>

