/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";

$warning-color: #fcb603;
$error-color: #b80f0f;

.auth {
  width: 50%;
}

.redirect {
  margin-left: 2em;
}
